<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div><%= notice %></div>
    <div><%= alert %></div>
    
    <% if user_signed_in? %>
      <%= button_to "Log out", session_path, method: :delete, class: "w-48 border" %>
    <% else %>
      <%= button_to "Sign up",
        new_registration_path,
        method: :get,
        class: "w-48 border"
      %>
      <%= button_to "Log in", new_session_path, class: "w-48 border" %>
    <% end %>

    <main class="container mx-auto mt-28 px-5">
      <div class="flex justify-center">
        <% flash.each do |type, msg| %>
          <% case type %>
            <% when 'alert' %>
              <div class="p-4 w-9/12 rounded-xl bg-red-500 text-white text-center">
                <%= msg %>
              </div>
            <% when 'else' %>
              <div>
                <%= msg %>
              </div>
          <% end %>
        <% end %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
